.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
  transform: translate(0%, 10%);
  position: relative;
  z-index: 2;
  
}
.ajuste-image{
  margin-top: 2% ;
  margin-left: 1%;
  width: 2%;
}
.foto{
  width: 4%;
  float: right;
  position: absolute;
  top: 2%;
  right: 0;
  margin: 10px;
  border-radius: 50%;
}
.maria{
  float: right;
  position: absolute;
  top: -32px;
  right: 8px;
  margin: 14px;
  font-size: 10px;
  color: black;
  font-weight: 600; 
 
}
h1
{ color: red;
  font-weight: 200;
  font-family: 'poppins';
  font-style: normal;
  font-size: 200%;
  text-align: center;
  margin-top: 30px;
}
h3, h4, h5, h6, h7, h8, h8, h9, h10
{
  color:  #33A0AB;
  font-weight: 600;
  font-size: 16px;
  font-family: 'poppins';
  font-style: normal;
  line-height: 18px;
  text-align: center ;
  margin-top: 20px;
  text-decoration: underline;
  
}
p
{ color: #201c1c;
 font-weight: 600;
 font-size: 16px ;
 font-family: 'poppins';
 font-style: normal;
 line-height: 18px;
 text-align: center;
 margin-top: 5px;
}
div
{ color: red;
  font-size: 120%;
  font-family: 'poppins';
  font-style: normal;
  margin-bottom: 20px;
  text-align: center; 
  
 
}
#introduction{
   color: black;
   font-size: 10px;
   font-family: 'poppins';
   font-style: normal;
   line-height: 170%;
   text-align: center;
   margin-bottom: 20px;
}
a:hover{
  color: red;
}
a {
  font-size: 120%;
  color: #33A0AB;
  text-decoration: underline;
  font-size: 16px;
  text-align: justify;
  text-align: center;
}
.meu-paragrafo{
  margin-left: 120px;
  margin-right: 120px;
} 
.faixa {
    width: 100%;
    height: 5px;
    background-color: #33A0AB;
    top: 8%;
    left: 0;
    transform: translateY(-50);
    margin-top: 25px;
    z-index: 1;
    margin-bottom: 20px;
    position: absolute;
}

