.nav-container {
  width: 100%;
  height: 4.7rem;
  padding: 0 1.25rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  width: 36px;
  height: 36px;
  position: relative;
}

.btn-left {
  background-color: #514747;
  position: absolute;
  height: 0.4rem;
  width: 2rem;
  top: 15px;
  left: 0px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-left:before {
  background-color: #514747;
  position: absolute;
  width: 2rem;
  height: 0.4rem;
  content: "";
  top: -12px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-left:after {
  background-color: #514747;
  position: absolute;
  width: 2rem;
  height: 0.4rem;
  content: "";
  top: 12px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-right {
  background-color: #514747;
  position: absolute;
  height: 0.4rem;
  width: 2rem;
  top: 15px;
  left: 0;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-right:before {
  background-color: #514747;
  position: absolute;
  width: 2rem;
  height: 0.4rem;
  content: "";
  top: -12px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-right:after {
  background-color: #514747;
  position: absolute;
  width: 2rem;
  height: 0.4rem;
  content: "";
  top: 12px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.nav-container__logo {
  position: relative;
  width: 81px;
  height: 100%;
}

.nav-container__logo > object {
  width: 65px;
  height: 78px;
  position: absolute;
  left: calc((100% - 65px) / 2);
  bottom: -18px;
  border-radius: 20px;
  z-index: 10;
}

.nav-container__logo > .white-background-logo {
  position: absolute;
  left: calc((100% - 81px) / 2);
  bottom: -26px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 9;
}

.nav-container__profile-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-container__profile-image > img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  margin-bottom: 2px;
}

.nav-container__profile-image > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.75rem;
  text-align: center;
}

@media (min-width: 768px) {
  .nav-container {
    display: none;
  }
}
