.main-header {
  height: 40vh;
  position: relative;
}

.main-header__image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url('../../public/assets/woman-picture.jpeg');
  background-size: cover;
  z-index: 1;
}

.main-header__image-color {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #EB3738;
  opacity: 0.83;
  z-index: 2;
}

.main-header__content {
  padding: 18px 25px;
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.main-header__content__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

.main-header__content__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
}

.main-header__green-circle {
  position: absolute;
  left: calc(50vw - 68px);
  bottom: -68px;
  width: 136px;
  height: 136px;
  background: #33a0ab;
  border-radius: 50%;
  z-index: 0;
}

.main-header__logo-container {
  position: absolute;
  width: 119px;
  height: 119px;
  left: calc(50vw - 59.5px);
  bottom: -59.5px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 3;
  display: flex;
  justify-items: center;
  align-items: center;
}

.main-header__logo-container > svg {
  margin: auto;
}

.register-section {
  padding: 0 1.5rem 2rem;
  background-color: #ffffff;
  border-top: 8.5px solid #33a0ab;
}

.register-section__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
  color: #eb3738;
  margin: 5rem 5rem 4rem;
}

.register-section__login-container {
  margin: auto;
  height: 3rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #33A0AB;;
}

.register-section__login-container > a {
  color: #33A0AB;
  text-decoration: none;
}

.motives-section {
  padding: 0 2rem 5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.motives-section__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.35rem;
  line-height: 2rem;
  text-align: center;
  color: #514747;
  margin-bottom: 3.75rem;
}

.motives-section__content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) { 
  .register-section {
    padding: 0 calc((100vw - 380px)/2) 2.5rem;
  }
}

