*{
    padding: 0px;
    margin: 0px;
}

.lateral-menu-content__item {
    text-decoration: none;
    color: black; 
    margin-left: 3%;    
}

body{
    font-family: "Poppins";
    margin-top: 1px;
}


img {
    width: 20px;
    height: 20px;
    color: #514747; 
    transform: scale(1.5);
     margin-top: 2%;
     margin-left: 1%;
}

input[type="checkbox"]{
    display: none;
}

nav{
   background-color: #eb3738;
   width: 300px;
   height: 50%;
   left: -300px;
   position: absolute;
   transition: all .5s;
}

nav::after{
   content: "Banco de doadores de sangue";
   color: white;
   position: absolute;
   margin-top: 7%;
   margin-left: 4%;
   font-family: "Poppins";
}



input[type="checkbox"]:checked ~ nav
{
    transform: translateX(300px);
}

ul{
   background-color: #33a0ab; 
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
   
}

.lateral-menu-content__item {
   display: block;
   padding: 20px 5px;
   color: white;
}

.lateral-menu-content__item:hover {
    background-color: #33a0ab;
    color: black;
}

label {
    padding: 15px;
    position: relative;
    z-index: 1;   
}

.header-logo {
    position: absolute;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: 4%;
    border-radius: 50%;
    border-color: white;
}

.image-container {
    border-radius: 50%;
    border-color: white;
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}
.image-container::after {
    content: "Maria";
    display: block;
    text-align: center;
    color: #514747
}



  
hr {
    border-color: #33a0ab;
    background-color: #33a0ab;
    height: 8px;
    width: 100%;
    margin-top: 3%; 
    text-shadow: 2px 2px 2px #514747;   
}

.header__content__title {
    text-align: center;
    margin-top: 3%;
    font-family: "Poppins";
    color: #eb3738;
    font-size: 50px;
    text-shadow: 2px 2px 2px #514747;    
}
  
h2 {
    font-family: "Poppins";
    margin-left: 6px;
    width: 70%;
    color: #514747;
    padding: 22px;
}


p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 18px;
    padding: 20px;
    color: #514747;    
}


h3 {
    font-family: "Poppins";
    margin-left: 6px;
    width: 70%;
    color: #514747;
    padding: 22px;
} 

.rodape {
    color: #0b972e;
    text-align: center;      
}



