.main-header {
    height: 20vh;
    position: relative;
  }
    
  .main-header__logo-container {
    position: absolute;
    width: 119px;
    height: 119px;
    left: calc(50vw - 59.5px);
    background: #ffffff;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    top: 45px;
  }

  .main-header__logo-container > object {
    margin: auto;
  }

  .text-section {
    padding: 0 1.5rem 2rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-section__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: center;
    color: #D91106;
    margin-bottom: 2rem;
  }

  .text-section__content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: justify;
    color: #514747;
    margin-bottom: 2rem;
  }

.main-header__menu-hamburguer{

/* Rectangle 69 */

position: absolute;
width: 35px;
height: 6px;
left: 0px;
top: 10px;

/* black 1 */
background: #514747;
border-radius: 10px;


/* Rectangle 70 */

position: absolute;
width: 35px;
height: 6px;
left: 0px;
top: 60px;

/* black 1 */
background: #514747;
border-radius: 10px;


/* Rectangle 71 */

position: absolute;
width: 35px;
height: 6px;
left: 20px;
top: 26px;

/* black 1 */
background: #514747;
border-radius: 10px;
}


